.coming-soon-page {
    height: 100vh;
    width: 100vw;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: white;
}

.content {
    max-width: 600px;
    padding: 20px;
}

.logo {
    width: 300px;
    height: auto;
    margin-bottom: 20px;

}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: #FFD700;
    margin: 10px 0;
    animation: pulse 5s infinite;

}

.subtitle {
    font-size: 1.5rem;
    color: #ccc;
    margin: 15px 0;
}

.pulse {
    margin-top: 25px;
    font-size: 2rem;
    color: #FFD700;
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 100px;
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    .pulse {
        font-size: 1rem;
    }
}